# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
# shamefully-hoist=true

# For China 🇨🇳 developers
# electron_mirror=https://npmmirror.com/mirrors/electron/
strict-ssl=false #这个设置表示在进行 SSL 连接时不强制验证证书的有效性。这在一些情况下可能会用于避免 SSL 证书验证失败的问题
registry=https://registry.npmmirror.com/ #这是指定了 npm 的镜像源，用于下载 npm 包
electron_mirror=https://registry.npmmirror.com/-/binary/electron/ #这个配置项指定了 Electron 包的镜像源，用于下载 Electron 框架相关的二进制文件
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
# ELECTRON_BUILDER_BINARIES_MIRROR=https://mirrors.huaweicloud.com/electron-builder-binaries/ 
